html, body ,.center{
    height: 100%;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/bckgrnd.jpg");
    background-repeat: repeat;
}

  .orange{
      background: #fdd51e;
  }

  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
  
